body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

a:nth-child(5) {
    padding: 10px;
    border: 2px solid rgb(132, 14, 201);
    border-radius: 10px;
}

a:nth-child(5):hover {
    background-color: rgb(132, 14, 201);
    color:white
}

header {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline-block;
    margin: 20px;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

h1 {
    font-weight: 200;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span {
    color: rgb(132, 14, 201);
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img {
    width: 620px;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(163, 39, 235);
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}